{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Story 8 Annisya Rizkia Ifani</title>
	<!-- Required meta tags -->
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery/3.4.1.js"></script>
    <script type="text/javascript" src="{% static 'script.js' %}"></script>

</head>

<body>
	<div class="row">
		<div class="main">
			<center>
				<h2 style="text-align:center; font-family: courier new; font-size: 50px; width: 50%; height: 30%;">Annisya's Library</h2>
				<br>
				<div style="margin-bottom: 4%">
					<input id="box" type="text" placeholder="Book's Title" style="width: 60%">
					<input onclick="baca()" id="button"type="submit" value="Search">
				</div>

				<div id="listbook">
					<table class="table">
						<thead>
							<tr>
								<th scope="col">Cover</th>
								<th scope="col">Title</th>
								<th scope="col">Author</th>
							</tr>
						</thead>
						<tbody id="result"></tbody>
					</table>
				</div>

			</center>
		</div>
	</div>

</body>
</html>