body {
    overflow-x: hidden;
}
  /* Column container */
.row {  
    display: flex;
    flex: 100%;
    flex-wrap: wrap;
}

@media (max-width: 100px) {
    .row, {   
      /*padding: 15px;*/
      flex-direction: column;
    }
}

.main {
    flex: 60%;
    background-color: white;
    padding: 50px;
}

